{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align:center">ADD RACES</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color:red;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table id="election-data">
        <thead>
            <tr>
                <th>Election ID</th>
                <th>Title</th>
                <th>Polling Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ elec.election_id }}</td>
                <td>{{ elec.title }}</td>
                <td>{{ elec.polling_date }}</td>
                <td>{{ elec.start_time }}</td>
                <td>{{ elec.end_time }}</td>
            </tr>
        </tbody>
    </table>
    <h3>CORRESPONDING RACES ...</h3>
    <table id="curr-races">
        <thead>
            <tr>
                <th>Race ID</th>
                <th>Title</th>
                <th>Term</th>
                <th>Candidate 1</th>
                <th>Candidate 2</th>
                <th>Candidate 3</th>
                <th>Candidate 4</th>
                <th>Candidate 5</th>
                <th>Precinct IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
            <tr>
                <td>{{ race.race_id }}</td>
                <td>{{ race.title }}</td>
                <td>{{ race.term }}</td>
                <td>{{ race.cand1 }}</td>
                <td>{{ race.cand2 }}</td>
                <td>{{ race.cand3 }}</td>
                <td>{{ race.cand4 }}</td>
                <td>{{ race.cand5 }}</td>
                <td>{{ racePrecs[loop.index-1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <form action="/add_races.html" method="POST" id="AddRacesForm">
        <label for="title">Title:</label>
        <input id="title" name="title" placeholder="US Senate-1"><br><br>
        <label for="term">Term:</label>
        <input id="term" name="term" placeholder="2022-2024"><br><br>
        <label for="cand1">Candidate 1:</label>
        <input id="cand1" name="cand1" placeholder="John Smith"><br><br>
        <label for="cand2">Candidate 2:</label>
        <input id="cand2" name="cand2" placeholder="John Smith"><br><br>
        <label for="cand3">Candidate 3:</label>
        <input id="cand3" name="cand3" placeholder="John Smith"><br><br>
        <label for="cand4">Candidate 4:</label>
        <input id="cand4" name="cand4" placeholder="John Smith"><br><br>
        <label for="cand5">Candidate 5:</label>
        <input id="cand5" name="cand5" placeholder="John Smith"><br><br>
        <label for="precinct-data">Chose Precincts:</label>
        <table id="precinct-data">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Precinct ID</th>
                    <th>Location</th>
                    <th>Pooling Manager ID</th>
                    <th>State Election Office Email</th>
                    <th>Zipcode</th>
                    <th>Zip+4 Start</th>
                    <th>Zip+4 End</th>
                </tr>
            </thead>
            <tbody>
                {% for prec in precincts %}
                    <tr>
                        <td><input type="checkbox" name="chosen-prec" value="{{ prec.precinct_id }}"/>&nbsp;</td>
                        <td>{{ prec.precinct_id }}</td>
                        <td>{{ prec.location }}</td>
                        <td>{{ prec.pooling_manager_id }}</td>
                        <td>{{ prec.state_election_office_email }}</td>
                        <td>{{ prec.zipcode }}</td>
                        <td>{{ prec.zip_4_start }}</td>
                        <td>{{ prec.zip_4_end }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <input type="submit" name="submit_button" id="add-race" value="Add Race"><br><br>
        <input type="submit" name="submit_button" id="sub-elec" value="Finished"><br><br>
        <p>*Clicking "Finished" button will not save the current race. Please click "Add Race" first.</p>
        <input type="hidden" id="elecID" name="elecID" value="{{ elec.election_id }}">
    </form>
</div>
{% endblock %}