{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <center>
    <style>
        .error {
            background-color: white;
            color: red;
        }
    </style>
    <h1>Password Recovery Page</h1>
    <meta charset="UTF-8">


    <form  action="/password_recovery" method="POST">
        <table>
            <p id="error">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="error"> {{ message }} </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>

            <tr>
                <td>
                    <a href="/index.html">Public Home Page</a>
                </td>
            </tr>

            <tr>
                <form name="password_recovery">
                    <label for="voter_Id">Voter ID: </label>
                    <input type="text" name="voter_Id">
                    <input type="submit" name="enteredID" value="Enter">
                </form>
            </tr>
        </table>
    </form>
    </center>
</div>
{% endblock %}