{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <center>
    <style>
        .error {
            background-color: white;
            color: red;
        }
    </style>
        
    <h1>Password Reset Page</h1>
    
    <form  action="{{ url_for('password_reset', access_code=access_code, user_email=user_email) }}" method="POST" id="reset">
        <table>
            <p id="flash-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="error"> {{ message }} </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>

            <tr>
                <label for="pass">New Password: </label>
                <input type="password" name="pass">
            </tr>
        </table>

        <table>
            <tr>
                <label for="passTwo">New Password: </label>
                <input type="password" name="passTwo">
            </tr>
        </table>

        <table>
            <tr>
                <input type="submit" name="passBoth" value="Enter">
            </tr>
        </table>
    </form>
    </center>
</div>
{% endblock %}